src/main/mule/mule-etl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="importFlow" doc:id="18136e9d-2fd8-4487-8343-a7f78b0ae3d4" >
		<file:listener doc:name="import.csv" doc:id="46098786-5917-44ea-9f76-3f0978f43106" config-ref="File_Config_TestFolder" directory="C:\test\incoming" moveToDirectory="C:\test\processed">
			<scheduling-strategy >
				<fixed-frequency frequency="3000" />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv"/>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="295fdce6-8381-469a-9c16-34513f76510b" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="ed6131d9-8bc2-4113-80e8-bcc5e9a674da" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="c23d1ab7-cb7d-4e58-a7ef-c714a64e7688" batchSize="3">
			<ee:transform doc:name="Transform Message" doc:id="55a77203-5099-403e-9042-25ebf0192ace" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	nominativo: capitalize(payload01.nomedefault "") ++' '++ capitalize(payload01.cognome),
	occupazione: payload01.categoria,
	livello: payload01.livello,
	cap: payload01.cap,
	residenza: upper(payload01.citta)
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="6ae475ff-fa2e-4ae3-b03d-c676c495bdc0" message="#[payload.nominativo]" />
			<db:bulk-insert doc:name="Bulk insert" doc:id="e8d6cd4d-429d-4829-9ec8-bacbc541a4c5" config-ref="Database_Config_Derby">
				<db:sql ><![CDATA[INSERT INTO DIPENDENTI(nominativo, occupazione, livello, cap, residenza) 
VALUES (:nominativo, :occupazione, :livello, :cap, :residenza)]]></db:sql>
			</db:bulk-insert>
		</foreach>
	</flow>
	<flow name="createFlow" doc:id="399ff748-79d9-4959-8d40-c4353c051576" >
		<http:listener doc:name="GET /create" doc:id="c1f6ad9a-ba5f-4fe6-b7eb-df0096457f28" config-ref="HTTP_Listener_config" path="/create" allowedMethods="GET">
			<http:error-response >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<db:execute-ddl doc:name="Execute DDL" doc:id="e9a1bfaf-c48f-4896-8365-964e6506e5a4" config-ref="Database_Config_Derby">
			<db:sql ><![CDATA[CREATE TABLE DIPENDENTI (
    nominativo VARCHAR(100),
    occupazione VARCHAR(100),
    livello VARCHAR(100),
    cap VARCHAR(100),
    residenza VARCHAR(100)
)]]></db:sql>
		</db:execute-ddl>
		<logger level="INFO" doc:name="Logger" doc:id="b7654fa9-66df-4d79-93da-963513973357" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="eab2288e-3fe3-4b3b-b9c2-60588c486f1e" >
				<ee:transform doc:name="Transform Message" doc:id="8aa72071-a514-471d-819a-0e9d9fcad97e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	"message": "Si è verificato un errore nella creazione della tabella " ++ error.description as String
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="getAllDipendenti" doc:id="02f9014b-930c-41fb-adf0-b96b30c314e3" >
		<http:listener doc:name="GET /dipendenti" doc:id="da72ede8-fd5d-46de-a477-335e23609ba9" config-ref="HTTP_Listener_config" path="/dipendenti" allowedMethods="GET"/>
		<db:select doc:name="select all dipendenti" doc:id="8a903f47-ddff-4893-9d87-18aaa499e5c1" config-ref="Database_Config_Derby">
			<db:sql ><![CDATA[SELECT * FROM DIPENDENTI]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="5f08de2d-a773-4d30-a1d7-139ef6b58ebf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
